In [1]:
import pandas as pd

In [2]:
draft1=pd.read_csv(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv')

In [3]:
type(draft1)

pandas.core.frame.DataFrame

In [4]:
draft1.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
draft1.head(2)

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [6]:
draft1.tail()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
draft1['a']

0    1
1    5
2    9
Name: a, dtype: int64

In [8]:
draft2=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/test.tsv')

In [9]:
draft2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [10]:
draft3=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',')

In [11]:
draft3

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
draft4=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',',header = None)

In [13]:
draft4

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [14]:
draft4=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',',header = None,names=['abc','def','ghi'])

In [15]:
draft4

     abc def      ghi
a b    c   d  message
1 2    3   4    hello
5 6    7   8    world
9 10  11  12      foo

In [16]:
draft4=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',',header = None,names=['abc','def','ghi','jkl','mno'])

In [17]:
draft4

  abc def ghi jkl      mno
0   a   b   c   d  message
1   1   2   3   4    hello
2   5   6   7   8    world
3   9  10  11  12      foo

In [18]:
draft4=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',',header = None,names=['abc','def','ghi','jkl','mno'],index_col = ['abc','def','ghi','jkl'])
draft4

                     mno
abc def ghi jkl
a   b   c   d    message
1   2   3   4      hello
5   6   7   8      world
9   10  11  12       foo

In [19]:
draft5=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',',header = None,names=['abc','def','ghi','jkl','mno'],skiprows = [0,1,2])
draft5

   abc  def  ghi  jkl  mno
0    9   10   11   12  foo

In [20]:
pd.isnull(draft4)

                   mno
abc def ghi jkl
a   b   c   d    False
1   2   3   4    False
5   6   7   8    False
9   10  11  12   False

In [21]:
draft6=pd.read_table(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.csv',sep=',',header = None,names=['abc','def','ghi','jkl','mno'],na_values = [1,5,9])
draft6

   abc def ghi jkl      mno
0    a   b   c   d  message
1  NaN   2   3   4    hello
2  NaN   6   7   8    world
3  NaN  10  11  12      foo

In [22]:
draft7=pd.read_excel(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex1.xlsx')
draft7

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [23]:
draft8=pd.read_excel(r'G:\\Data_Science\\R programming\\R code files/excelsheet.xlsx',sheet_name= 0)
draft8

    id                 name     rgb is_trans
0   -1            [Unknown]  0033B2        f
1    0                Black  05131D        f
2    1                 Blue  0055BF        f
3    2                Green  237841        f
4    3       Dark Turquoise  008F9B        f
5    4                  Red  C91A09        f
6    5            Dark Pink  C870A0        f
7    6                Brown  583927        f
8    7           Light Gray  9BA19D        f
9    8            Dark Gray  6D6E5C        f
10   9           Light Blue  B4D2E3        f
11  10         Bright Green  4B9F4A        f
12  11      Light Turquoise  55A5AF        f
13  12               Salmon  F2705E        f
14  13                 Pink  FC97AC        f
15  14               Yellow  F2CD37        f
16  15                White  FFFFFF        f
17  17          Light Green  C2DAB8        f
18  18         Light Yellow  FBE696        f
19  19                  Tan  E4CD9E        f
20  20         Light Violet  C9CAE2        f
21  21  Glow In Dark Opaque  D4D5C9        f
22  22               Purple  81007B        f

In [24]:
url="http://www.basketball-reference.com/leagues/NBA_2015_totals.html"
df=pd.read_html(url)
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [25]:
type(df)

list

In [26]:
len(df)

1

In [27]:
df[1]

IndexError: list index out of range

In [ ]:
df[0]

In [ ]:
df[0].head()

In [ ]:
df.columns

In [ ]:
type([[df]])

In [ ]:
df1= pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t') 
df1

In [ ]:
df[0]

In [ ]:
type(df1)

In [ ]:
df1.columns

In [ ]:
df1.dtypes

In [ ]:
df1['Name'].head()

In [ ]:
type(df1['Name'].head())

In [ ]:
type(df1[['Name']].head())

In [ ]:
df1[['Name','Fare']]

In [ ]:
type(df1[['Name','Fare']])

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
pd.options.display.max_rows

In [ ]:
df2=pd.read_csv(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex6.csv',nrows=5)
df2

In [ ]:
df2['one']

In [ ]:
chunk=pd.read_csv(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex6.csv',chunksize=1000)
chunk

In [ ]:
df2[['one','two']]

In [ ]:
type(df2)

In [ ]:
df2.columns

In [ ]:
df_cols=df2[['one','two','three']]
df_cols

In [ ]:
df2.to_csv('output.csv')

In [ ]:
df3=pd.read_csv(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex5.csv')
df3

In [ ]:
df3.to_csv('output1.csv',sep=',',index=False,header=False,columns=['a','b','c','d'])

In [ ]:
import csv

In [ ]:
f=open(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex7.csv')

In [ ]:
reader=csv.reader(f)
for i in reader:
    print(i)

In [ ]:
with open (r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex7.csv') as f
lines = list(csv.reader(f))
lines[0]

In [ ]:
with open (r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/ex7.csv') as f:
    lines=list(csv.reader(f))
lines

In [ ]:
lines[1]

In [ ]:
lines[1:]

In [ ]:
lines[:1]

In [ ]:
lines[0:2:1]

In [ ]:
header,values=lines[0],lines[1:]

In [ ]:
header,values

In [ ]:
values

In [ ]:
for i in zip(values):
    print(i)

In [ ]:
for i in zip(*values):
    print(i)

In [ ]:
for i in zip(header,zip(*values)):
    print(i)

In [ ]:
l=[1,2,3,4]
l1=[5,6,7,8]
for i in zip(l,l1):
    print(i)

In [ ]:
d={}
for i,j in zip(header,zip(*values)):
    d[i]=j

In [ ]:
d

In [ ]:
d={h:v for h,v in zip(header,zip(*values))}
d

In [ ]:
import json

In [ ]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [ ]:
obj

In [ ]:
result=json.loads(obj)
result

In [ ]:
type(obj)

In [ ]:
type(result)

In [ ]:
asjson=json.dumps(result)

In [ ]:
asjson

In [ ]:
type(asjson)

In [ ]:
type('name')

In [ ]:
type(result)

In [ ]:
result['siblings']

In [ ]:
new_df=pd.DataFrame(result['siblings'])
new_df

In [ ]:
type(result)

In [ ]:
new_df

In [ ]:
type(new_df)

In [ ]:
data=pd.read_json(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/example.json')
data

In [ ]:
new_df

In [ ]:
new_df.to_json('output3.json')

In [ ]:
print(new_df.to_json)

In [ ]:
print(new_df.to_json(orient='records'))

In [ ]:
type(new_df)

In [ ]:
tables=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [ ]:
len(tables)

In [ ]:
tables[0]

In [ ]:
web_data=tables[0]

In [ ]:
type(web_data)

In [ ]:
type(web_data['Player'])

In [ ]:
web_data['Player']

In [ ]:
web_data['Player'][0]

In [ ]:
web_data.columns

In [ ]:
data1=pd.read_html(r'C:\\Users\\vinny\\Desktop\\ineuron class files\\code_pandas1\\examples/fdic_failed_bank_list.html')

In [ ]:
data1

In [ ]:
type(data1)

In [ ]:
len(data1)

In [ ]:
type(data1[0])

In [ ]:
type(data1['closing date'])

In [ ]:
new_df1=data1[0]

In [ ]:
type(new_df1)

In [ ]:
new_df1['siblings']

In [ ]:
new_df1.columns

In [ ]:
new_df1['Closing Date'][0:5]

In [ ]:
close_timestamps=pd.to_datetime(new_df1['Closing Date'])

In [ ]:
close_timestamps

In [ ]:
type(close_timestamps)

In [ ]:
close_timestamps.dt.year.value_counts()

In [ ]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [ ]:
resp.json()

In [ ]:
data3=resp.json()

In [ ]:
type(data3)

In [ ]:
data3[0]

In [ ]:
len(data3)

In [ ]:
type(data3)

In [ ]:
type(data3[0])

In [ ]:
new_data3=pd.DataFrame(data3)

In [ ]:
type(new_data3)

In [ ]:
new_data3['id']

In [92]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')   
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [ ]:
titanic_train.columns

In [ ]:
titanic_train.dtypes

In [ ]:
titanic_train.describe()

In [ ]:
titanic_train[['Name','Sex']].describe()

In [93]:
type(titanic_train.dtypes=="object")

pandas.core.series.Series

In [ ]:
s=titanic_train.dtypes
s[0]

In [ ]:
s[1:5]

In [ ]:
[titanic_train.sort_values(titanic_train["Survived"])]

In [ ]:
a=s[s=="object"].index
a

In [ ]:
sorted(titanic_train["Survived"])

In [ ]:
type(a)

In [ ]:
titanic_train[a].describe()

In [ ]:
sorted(titanic_train["Name"])

In [ ]:
df5=titanic_train[['Survived','Pclass']].sort_values
df5

In [ ]:
titanic_train.columns

In [ ]:
a=titanic_train['Name']
for i in a:
    if i[0][0]=='a':
        print(i)

In [ ]:
type(a)

In [ ]:
a=titanic_train['Name']
for i in a:
    if i[0][0]=='S':
        print(i)

In [ ]:
a=titanic_train['Name']

In [ ]:
a

In [ ]:
type(a)

In [ ]:
titanic_train['akhil']=0
titanic_train

In [ ]:
df6=pd.Categorical(titanic_train['Pclass'])

In [ ]:
df6

In [ ]:
(titanic_train["Sex"].unique())

In [ ]:
s=titanic_train["Cabin"].astype(str)

In [ ]:
type(s)

In [ ]:
type(s[0])

In [ ]:
titanic_train["Cabin"]

In [ ]:
for i in s:
    print(i[0])

In [ ]:
a=titanic_train['Name']
for i in a:
    if i[0]=='B':
        print(i)

In [ ]:
l=[]
for i in titanic_train["Name"]:
    l.append(i[0])
print(l)

In [ ]:
titanic_train["Name"].isnull()

In [96]:
import numpy as np

In [97]:
(titanic_train["Age"].isnull()== True)

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154     True
155    False
Name: Age, Length: 156, dtype: bool

In [98]:
a=np.where(titanic_train["Age"].isnull()== True)

In [99]:
a

(array([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,  45,  46,  47,
         48,  55,  64,  65,  76,  77,  82,  87,  95, 101, 107, 109, 121,
        126, 128, 140, 154], dtype=int64),)

In [ ]:
titanic_train.iloc[a]

In [100]:
max(titanic_train['Fare'])

263.0

In [101]:
b=np.where(titanic_train['Fare']==max(titanic_train['Fare']))

In [102]:
b

(array([27, 88], dtype=int64),)

In [103]:
titanic_train.iloc[b]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0,C23 C25 C27,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0,C23 C25 C27,S

In [ ]:
d=titanic_train['Survived'] + titanic_train['Pclass']
titanic_train['combined']=d

In [108]:
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [106]:
c=(titanic_train['Fare']== max(titanic_train['Fare'])) &  titanic_train['Age'] > 30
c

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154    False
155    False
Length: 156, dtype: bool

In [109]:
titanic_train>0

TypeError: '>' not supported between instances of 'str' and 'int'

In [107]:
np.where(c)

(array([], dtype=int64),)

In [ ]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print ("Labels:", labels)
print("My data:", my_data)
print("Dictionary:", d)
pd.Series(my_data, index=labels)

In [ ]:
s=pd.Series(my_data, index=labels)

In [ ]:
print(s)

In [ ]:
s[2]

In [ ]:
pd.series (arr)[0]

In [ ]:
print(arr)

In [ ]:
type(pd.Series(arr))

In [ ]:
type(arr)

In [ ]:
pd.Series(arr,index=[5,6,3])

In [ ]:
pd.Series(d)

In [ ]:
pd.Series(d)['c']

In [ ]:
pd.Series(d,index=['d'])

In [ ]:
print(d)

In [ ]:
pd.Series(d,index=['a'])

In [ ]:
print(d)

In [ ]:
pd.DataFrame(d,index=['a','b','c'])

In [ ]:
pd.Series([type,sum,max])

In [29]:
series1=pd.Series([1,2,3,4],index=[2,4,6,8])
series2=pd.Series([1,2,5,4],index=['ca','ab','cd','ef'])

In [30]:
print(series1)

2    1
4    2
6    3
8    4
dtype: int64

print(series2)

In [31]:
print(s)

NameError: name 's' is not defined

print(series2)

In [33]:
h=pd.Series([1,2,3,4],index=[5,6,7,8])

In [34]:
print(h)

5    1
6    2
7    3
8    4
dtype: int64

In [35]:
h[5]

1

In [37]:
h[0]

KeyError: 0

In [45]:
series2=pd.Series([4,2,6,9],index=[2,4,'r','t'])

In [46]:
print(series2)

2    4
4    2
r    6
t    9
dtype: int64

In [47]:
series3=series1+series2

In [48]:
print(series3)

2    5.0
4    4.0
6    NaN
8    NaN
r    NaN
t    NaN
dtype: float64

In [43]:
print(series1,series2,series3)

2    1
4    2
6    3
8    4
dtype: int64 a    4
g    2
r    6
t    9
dtype: int64 2   NaN
4   NaN
6   NaN
8   NaN
a   NaN
g   NaN
r   NaN
t   NaN
dtype: float64

In [44]:
print(series3)

2   NaN
4   NaN
6   NaN
8   NaN
a   NaN
g   NaN
r   NaN
t   NaN
dtype: float64

In [49]:
from numpy.random import randn as rn

In [50]:
rn(4,3)

array([[-0.32974245, -1.72843532,  0.20633174],
       [-0.81681554,  1.73336664, -1.41602513],
       [-0.30451177,  0.87343643, -1.28697063],
       [-0.06824973,  0.07420181, -0.5517409 ]])

In [51]:
pd.DataFrame(rn(4,3))

          0         1         2
0  0.002368  0.005082  0.244603
1 -0.195564 -0.623114  0.185083
2  0.095528 -0.589132 -0.410979
3 -1.375915  0.279098 -1.282248

In [52]:
df=pd.DataFrame(rn(4,3),index=['a','b','c','d'],columns=['w','x','y'])

In [53]:
df

          w         x         y
a -1.165481  0.242825 -2.329447
b  0.182491 -0.585434 -0.637538
c  0.304328  0.781571 -0.422341
d  1.535877  0.066442 -0.691973

In [56]:
df.iloc[0]

w   -1.165481
x    0.242825
y   -2.329447
Name: a, dtype: float64

In [57]:
df.drop('y')

KeyError: "['y'] not found in axis"

In [58]:
df.drop("y",axis=1)

          w         x
a -1.165481  0.242825
b  0.182491 -0.585434
c  0.304328  0.781571
d  1.535877  0.066442

In [59]:
df

          w         x         y
a -1.165481  0.242825 -2.329447
b  0.182491 -0.585434 -0.637538
c  0.304328  0.781571 -0.422341
d  1.535877  0.066442 -0.691973

In [60]:
df.drop("y",axis=1,inplace=True)

In [61]:
df

          w         x
a -1.165481  0.242825
b  0.182491 -0.585434
c  0.304328  0.781571
d  1.535877  0.066442

In [62]:
df

          w         x
a -1.165481  0.242825
b  0.182491 -0.585434
c  0.304328  0.781571
d  1.535877  0.066442

In [63]:
df=df.drop("y",axis=1)

KeyError: "['y'] not found in axis"

In [64]:
df=df.drop("x",axis=1)

In [65]:
df

          w
a -1.165481
b  0.182491
c  0.304328
d  1.535877

In [66]:
df

          w
a -1.165481
b  0.182491
c  0.304328
d  1.535877

In [67]:
df=df.drop("a",axis=0)

In [68]:
df

          w
b  0.182491
c  0.304328
d  1.535877

In [69]:
df

          w
b  0.182491
c  0.304328
d  1.535877

In [70]:
df.loc[['b','c']]

          w
b  0.182491
c  0.304328

In [71]:
df['x']=5

In [72]:
df

          w  x
b  0.182491  5
c  0.304328  5
d  1.535877  5

In [73]:
df['y']='k'

In [74]:
df

          w  x  y
b  0.182491  5  k
c  0.304328  5  k
d  1.535877  5  k

In [77]:
df.loc[['c','d'],['y','w']]

   y         w
c  k  0.304328
d  k  1.535877

In [78]:
df.iloc[[1,0]]

          w  x  y
c  0.304328  5  k
b  0.182491  5  k

In [79]:
df

          w  x  y
b  0.182491  5  k
c  0.304328  5  k
d  1.535877  5  k

In [83]:
df.loc[['b','c'],:]

          w  x  y
b  0.182491  5  k
c  0.304328  5  k

In [84]:
df['w']

b    0.182491
c    0.304328
d    1.535877
Name: w, dtype: float64

In [86]:
df['x']>0

b    True
c    True
d    True
Name: x, dtype: bool

In [87]:
df>0

TypeError: '>' not supported between instances of 'str' and 'int'

In [88]:
print(df>0)

TypeError: '>' not supported between instances of 'str' and 'int'

In [89]:
type(df)

pandas.core.frame.DataFrame

In [90]:
df[]>0

SyntaxError: invalid syntax (<ipython-input-90-a5429e6c96c4>, line 1)

In [110]:
df

          w  x  y
b  0.182491  5  k
c  0.304328  5  k
d  1.535877  5  k

In [112]:
df.loc[['b',c]]>0

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [113]:
df[df>0]

TypeError: '>' not supported between instances of 'str' and 'int'

In [114]:
outside=['g1','g1','g1','g2','g2','g2']
inside=[1,2,3,1,2,3]

In [115]:
hier_index=list(zip(outside,inside))

In [116]:
hier_index

[('g1', 1), ('g1', 2), ('g1', 3), ('g2', 1), ('g2', 2), ('g2', 3)]

In [118]:
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [119]:
hier_index

MultiIndex([('g1', 1),
            ('g1', 2),
            ('g1', 3),
            ('g2', 1),
            ('g2', 2),
            ('g2', 3)],
           )

In [121]:
df1=pd.DataFrame(data=np.round(rn(6,3)),index=hier_index,columns-['a','b','c'])

SyntaxError: positional argument follows keyword argument (<ipython-input-121-3f811db414f0>, line 1)

In [122]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [123]:
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [124]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [125]:
print(type(hier_index))

<class 'pandas.core.indexes.multi.MultiIndex'>

In [126]:
df1 = pd.DataFrame(data=np.round(rn(6,3)), index= hier_index, columns= ['A','B','C'])
print(df1)

        A    B    C
G1 1  0.0  0.0 -0.0
   2 -1.0  0.0  0.0
   3  1.0  1.0  0.0
G2 1  0.0 -1.0 -1.0
   2  1.0  0.0 -1.0
   3 -1.0 -0.0  0.0

In [128]:
df1=pd.DataFrame(data=np.round(rn(6,3)), index=hier_index, columns=['A','B','C'])
print(df1)

        A    B    C
G1 1  1.0  0.0 -0.0
   2  2.0 -1.0  0.0
   3  0.0 -0.0 -1.0
G2 1 -1.0 -1.0 -1.0
   2  1.0  1.0  0.0
   3 -0.0 -1.0 -0.0

In [130]:
df1.loc["G2"].iloc[1:,[0,1]]

     A    B
2  1.0  1.0
3 -0.0 -1.0